
body{
    font-family: Georgia;
    margin: 0;
}
#sayem{color: gold;}
.first_heading{
    color: navy;
    font-size: 60px;
    font-weight: bolder;
}
.part0{
    height: 500px;
    width: 43%;
    margin: 2%;
    padding: 20px;
    border: none;
    float: left;

}
.part0 img{
    width: 100%;
}
.part1{
    height: 500px;
    width: 43%;
    margin: 2%;
    padding: 20px;
    border: none;
    float: right;
}
.part1 img{
    width: 100%;
}
.part2{
    height: 300px;
    width: 38%;
    margin: 4%;
    padding: 20px;
    float: left;
    box-shadow: 10px 10px 40px khaki;
    border-radius: 5px;
    text-align: center;
    border-left: 7px solid navy;
}
.part2 h1{
    font-size: xx-large;
    font-weight: 900;
}

.sech1{
    font-size: 50px;
    font-weight: 900;
    color: navy;
}
#sec0{
    height: 600px;
    background-image: url('top-banner.png');
    background-position: left top;
    background-repeat: no-repeat;
}
#sec1{
    height: 600px;
    background-image: url('dream-bg.png');
    background-position: right;
    background-repeat: no-repeat;
}
#sec2{
    height: 600px;
    background-image: url('exp-bg.png');
    background-position: left;
    background-repeat: no-repeat;
}
.part2h2{
    color: coral;
}
.buttons{
    background-image: linear-gradient(45deg, cornsilk, orange);
    height: 30px;
    width: 100px;
    border: 1px solid gold;
    border-radius: 5px;
    text-decoration: none;
}
.link{
    text-decoration: none;
    font-family: monospace;
    font-size: large;
    font-weight: 600;
    color: brown;
}